<main class="main-content">
      <h1>Mi Perfil</h1>
      <div class="auth-card profile-card">
        <div class="form-group">
          <label>Nombre</label>
          <input id="profName" class="input"  >
        </div>
        <div class="form-group">
          <label>Email</label>
          <input id="input1" class="input"  disabled>
        </div>
        <div class="form-group">
          <label>Rol</label>
          <input id="input2" class="input" disabled>
        </div>
        <div id="profMsg" class="alert hidden"></div>
        <button id="saveProfile" class="btn btn-primary">Guardar cambios</button>
      </div>
    </main>