<section>
    <h1>USER</h1>
    <p>
        La empresa Interdimensional Frontend Labs los ha contratado para evolucionar una SPA
        ya existente construida en JavaScript Vanilla.
        Actualmente la aplicación consume información básica de la API pública de Rick and
        Morty y renderiza personajes en pantalla.
        Sin embargo, el producto aún se encuentra en una fase muy inicial y el cliente requiere
        nuevas funcionalidades para convertir la aplicación en una SPA más robusta, escalable e
        interactiva.
        Su equipo será responsable de analizar la arquitectura actual, proponer mejoras y construir
        nuevas funcionalidades sin romper el funcionamiento existente.
    </p>
</section>